.navbar {
  background-color: #fd0000;
  border-bottom: 1px solid #dbdbdb;
}

.logoText {
  font-weight: bold;
  font-size: 2rem;
  transition: transform 0.2s ease;
}

.logoText:hover {
  transform: translateX(+2px);
}
.navbar-burger {
  color: #4a4a4a;
}
.navbar-burger:hover {
  background-color: #f5f5f5;
}
