.navbar {
  background-color: #fd0000;
  border-bottom: 1px solid #dbdbdb;
}
.logoText:hover {
  transform: translateX(+2px);
  /* scale: 1.05; */
  /* background-color: relative; */
}
.navbar-burger {
  color: #4a4a4a;
}
.navbar-burger:hover {
  background-color: #f5f5f5;
}
