.navbar {
  background-color: #fd0000;
  border-bottom: 1px solid #dbdbdb;
}

.logoText {
  font-weight: bold;
  font-size: 2rem;
  transition: transform 0.2s ease;
}

.logoText:hover {
  transform: translateX(+2px);
  color: #128fe2;
}

.itemHover:hover {
  color: #128fe2;
}

.itemHover_linkedin:hover {
  color: #0a66c2;
}

.itemHover_white:hover {
  color: #fafbfc;
}

.navbar-burger {
  color: #4a4a4a;
}
.navbar-burger:hover {
  background-color: #f5f5f5;
}
