/* BlockField.module.css */
.postBox {
  background-color: rgba(255, 255, 255, 0.05);
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  transition: background-color 0.3s ease, transform 0.2s ease;
  color: white;
  border-radius: 6px; /* Matching Bulma's box feel */
}

.postBox:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transform: translateY(-2px);
  cursor: pointer;
}

.hoverUnderline:hover {
  text-decoration: underline;
}
