.boxBlur {
  /* background-color: rgba(0, 0, 0, 0.4); */
  border-radius: 20px;
}

/* The item hover effect for the latest post on the front page*/
.itemHover:hover {
  background-color: rgba(113, 113, 113, 0.5);
  transform: translateY(-2px) scale(1.04);

  cursor: pointer;
  /* border-radius: 20px; */
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}
