@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.prose p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05); /* similar to shadow-lg */
  max-width: 90%;
  height: auto;
  text-align: center;
}

/* Reset default em styling */
.prose p > em {
  display: inline;
  text-align: inherit;
  margin: 0;
}

/* Center em only when its right next to an image */
.prose p > img + em {
  display: block;
  text-align: center;
  margin-top: -0.5rem;
}
